  <div id="navback">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'welcome' %}">My Gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Locations
            </a>
            <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
              {% for locat in location %}
              <a class="dropdown-item" href="{% url 'page_location' locat.location %}">{{locat.location}}</a>
              <!-- <div class="dropdown-divider"></div> -->


              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="text-center header mt-5">
      <h1 class='text-center'> <strong> Welcome To My Gallery </strong> </h1>
      <form class="w-100 mt-4" action="{% url 'search_images' %}">
        <input class="w-50 p-3" type="search" placeholder="Search Images by Category" name="image" aria-label="Search">
        <button class="btn rounded p-0" type="submit" style="margin-left: -50px; margin-bottom: 15px;"><img src="https://www.freeiconspng.com/uploads/search-icon-png-27.png" alt="" width="30px"
            height="30px"></button>
      </form>
      <div class="suggested"> <br>
        <p id="suggest"><strong> Suggested: travel , nature , food , animal </strong>  </p>

      </div>
    </div>
  </div> <br> <br>
