{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
    
  <!-- Looping through news   -->
  {% for photo in photos %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2> Photo Name : {{ photo.name }} </h2>
          <!--Display news Article images  --> 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{photo.image.url}}" class="img-responsive" alt="Image" height="300px" width="300px">
    </div>
      <p>Image Description : {{photo.description}}</p>
      <p><strong> Image Location: </strong> <em>{{photo.location}}</em></p>
      <p> Image category: {{photo.category}}<p>

    </div>
  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Images was Uploaded</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}