{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">   
    
  <!-- Looping through images   -->
  {% for photo in photos %}

  <div class="row">
  <!--Display Images --> 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img id="myImg" src="{{photo.image.url}}" class="img-responsive" alt="Image" height="300" width="300"> <br> <br> <br>
    </div>
      <!-- displaying decription of images -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2><u></u> {{ photo.name }} </h2>
      <p>Image Description : {{photo.description}}</p>
      <p> Image Location:{{photo.location}}</p>
      <p> Image category: {{photo.category}}<p>
    </div>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Images was Uploaded</h2>
  </div>
  {% endfor %}


</div>

{% endblock %}