{%extends 'all-news/base.html'%}
{% block content %}
{{ block.super}}

<div class="container-fluid">

  <!-- Looping through images   -->

  <div class="row">
    {% for photo in photos %}
    <div class="col-md-3">
      <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{photo.image.url}}"
        class="img-thumbnail photo" alt="Image" data-toggle="modal" data-target="#{{photo.id}}">

      <!-- Image Details modal -->
      <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle"
        aria-hidden="true">
        <div  class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-name" id="imageTitle">{{photo.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <br>

              <!-- </button> -->
            </div>
            <div class="modal-body">
              <img src="{{photo.image.url}}" style="width:400px; height:400px;" alt="Image">
              <br> <br>
              <p>Image Description : {{photo.description}}</p>
              <p> Image Location:{{photo.location}}</p>
              <p> Image category: {{photo.category}}<p>
            </div>

          </div>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}