{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2 id="found">Found {{ images|length }} of searched term {{message}}</h2> <br> <br> <br>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  
    {% for image in images %}
      <div class="col-sm-6 col-md-4">
          <h5>{{image.name}}</h5>
          <img class="img-thumbnail photo  img-responsive" src="{{image.image.url}}" alt="Image" height="300" width="300" style="margin-bottom: 30px;"> 
      </div>
      <div class="col-sm-2 col-md-2"></div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}