{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container-fluid">

  <div class="row">
    {% if images%}
      <h2 id="found" style="text-align: center">Found {{ images|length }} images of searched  {{message}} Category</h2> <br> <br> <br>
    {% else %}
      <h2 id="found" style="text-align: center">  No images found for the searched Category " {{message}} "</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  
    {% for image in images %}
      <div class="col-sm-6 col-md-4">
          <h5 style="color: #000066 ; font-family: 'Grenze', serif; font-size: 30px;"> <b> {{image.name}} </b></h5>
          <img class="img-thumbnail photo  img-responsive" src="{{image.image.url}}" alt="Image" height="300" width="300" style="margin-bottom: 30px;"> 
      </div>
      <div class="col-sm-2 col-md-2"></div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}